[Install]
WantedBy=multi-user.target

[Unit]
Description=Dinoqode service
After=network.target node-sonos-http-api.service

[Service]
User=pi
ExecStart=/usr/bin/python3 -u qrplay.py
WorkingDirectory=/home/pi/Developer/dinoqode
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=dinoqode
Restart=on-failure